@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url("../../img/admin/nature4.jpg");
    background-size: 100% 100%;
    transition: all 0.5s ease;
}
.sidebar.active-nav {
    width: 240px;
}
.sidebar .logo-details {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 18px;
    gap: 20px;
}
.sidebar .logo-details .logo {
    min-width: 32px;
    height: 27px;
}
.sidebar .logo-details .logo_name {
    height: 23px;
    opacity: 0;
}
.sidebar.active-nav .logo-details .logo_name {
    opacity: 1;
}
.sidebar .nav_list {
    margin-top: 16px;
}
.sidebar .nav_list li {
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}
.sidebar .nav_list li a {
    color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.4s ease;
}
.sidebar .nav_list li a:hover {
    color: #11101d;
    background: #ffffff;
}
.sidebar .nav_list li i {
    min-width: 70px;
    text-align: center;
    font-size: 18px;
    border-radius: 12px;
}
.sidebar .nav_list li .manage {
    font-size: 19px;
}
.sidebar .nav_list li .add {
    font-size: 16px;
    font-weight: bold;
}
.sidebar .nav_list li .view {
    font-size: 17px;
    font-weight: bold;
    margin-left: -0.4px;
}
.sidebar .nav_list li .user {
    font-size: 18px;
    margin-left: -1.4px;
}
.sidebar .nav_list li .contact {
    font-size: 18px;
    margin-left: -1.4px;
}
.sidebar .nav_list li .logout {
    margin-left: -0.4px;
}
.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}
.sidebar.active-nav .links_name {
    opacity: 1;
    pointer-events: auto;
}
/*--- home -section -----*/
.home-section {
    background-image: url("nature4.jpg");
    background: #e7e7e7;
    /* background: #5e72e4; */
    background-size: 100% 100%;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 70px);
    left: 70px;
    transition: all 0.5s ease;
}
.sidebar.active-nav ~ .home-section {
    width: calc(100% - 240px);
    left: 240px;
}
.home-section nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 42;
    height: 46px;
    background: #ffffff;
    /* background-color: #eb4d4b; */
    padding: 0 13px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 500px;
    gap: 11px;
}
.sidebarBtnIcon {
    height: 17px;
    width: 20px;
    position: relative;
    z-index: 22;
    top: 1px;
    cursor: pointer;
}
.spinner {
    height: 3px;
    background-color: #000;
}
.spinner.middle, .spinner.bottom {
    margin-top: 3px;
    transition: all 0.3s;
}
.sidebar.active-nav ~ .home-section .spinner.middle {
    position: absolute;
    right: 0;
    opacity: 1;
    width: 15px;
}
.sidebar.active-nav ~ .home-section .spinner.bottom {
    position: absolute;
    width: 10px;
    right: 0;
    top: 9px;
}
.back {
    width: 100%;
    height: 100%;
}
.data {
    display: flex;
    /* flex-wrap: wrap; */
    /* border: 1px dashed red; */
    width: 89%;
    margin: auto;
    margin-top: 5%;
    justify-content: space-between;
    gap: 70px;
    font-size: 22px;
    font-weight: bold;
}
.data a {
    text-decoration: none;
}
.data1 {
    width: 30%;
    height: 170px;
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: 2px 2px 7px 1px #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data1 .total {
    color: #f5365c;
}
.data2 {
    width: 30%;
    height: 170px;
    background-color: #ffffff;
    border-radius: 11px;
    /* box-shadow: 4px 4px 7px 3px #bbbaba */
    box-shadow: 2px 2px 7px 1px #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.data2 .total {
    color: #f5365c;
}
.data3 {
    width: 30%;
    height: 170px;
    background-color: #ffffff;
    border-radius: 11px;
    /* box-shadow: 4px 4px 7px 3px #bbbaba */
    box-shadow: 2px 2px 7px 1px #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.data3 .total {
    color: #f5365c;
}
