@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 70px;
    background: linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.95)),url("../../img/admin/nature4.jpg");
    background-size: 100% 100%;
    transition: all 0.5s ease;
}
.sidebar.active-nav {
    width: 240px;
}
.sidebar .logo-details {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 18px;
    gap: 20px;
}
.sidebar .logo-details .logo {
    min-width: 32px;
    height: 27px;
}
.sidebar .logo-details .logo_name {
    height: 23px;
    opacity: 0;
}
.sidebar.active-nav .logo-details .logo_name {
    opacity: 1;
}
.sidebar .nav_list {
    margin-top: 16px;
}
.sidebar .nav_list li {
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}
.sidebar .nav_list li a {
    color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.4s ease;
}
.sidebar .nav_list li a:hover {
    color: #11101d;
    background: #ffffff;
}
.sidebar .nav_list li i {
    min-width: 70px;
    text-align: center;
    font-size: 18px;
    border-radius: 12px;
}
.sidebar .nav_list li .manage {
    font-size: 19px;
}
.sidebar .nav_list li .add {
    font-size: 16px;
    font-weight: bold;
}
.sidebar .nav_list li .view {
    font-size: 17px;
    font-weight: bold;
    margin-left: -0.4px;
}
.sidebar .nav_list li .user {
    font-size: 18px;
    margin-left: -1.4px;
}
.sidebar .nav_list li .contact {
    font-size: 18px;
    margin-left: -1.4px;
}
.sidebar .nav_list li .logout {
    margin-left: -0.4px;
}
.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}
.sidebar.active-nav .links_name {
    opacity: 1;
    pointer-events: auto;
}
 /*--- home-section -----*/
 .home-section {
    background: #f8f8f8;
    background-size: 100% 100%;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 70px);
    left: 70px;
    transition: all 0.5s ease;
 }
 .sidebar.active-nav ~ .home-section {
    width: calc(100% - 240px);
    left: 240px;
 }
 .home-section nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 42;
    top: 0;
    height: 46px;
    background: #ffffff;
    padding: 0 13px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    /* border-bottom: 3px solid red; */
 }
 .home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 500px;
    gap:11px;
 }
 .sidebarBtnIcon {
    height: 17px;
    width: 20px;
    position: relative;
    z-index: 22;
    top: 1px;
    cursor: pointer;
}
.spinner {
    height: 3px;
    background-color: #000;
}
.spinner.middle, .spinner.bottom {
    margin-top: 3px;
    transition: all 0.3s;
}
.sidebar.active-nav ~ .home-section .spinner.middle { 
    position: absolute;
    right: 0;
    opacity: 1;
    width: 15px;
}
.sidebar.active-nav ~ .home-section .spinner.bottom {
    position: absolute;
    width: 10px;
    right: 0;
    top: 9px;
}
 .back {
    width:100%;
    height: 100%;
 }
 /*--- form-section -----*/
 h1 {
    text-align: center;
    margin-top: 1.2%;
 }
 .form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 0.7%;
    padding: 25px;
    border-radius: 8px;
    gap: 20px;
    box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.2);
 }
 .row1 {
    display: flex;
    align-items: center;
    width: 76%;
    margin-top: 3px;
    /* border: 2px dashed red; */
 }
 .col1 {
    width: 44%;
    /* border: 1px solid green; */
 }
 .col1 label {
        font-size: 17px;
        font-weight: bold;
 }
 .col2 {
    /* border: 1px solid rgb(0, 13, 128); */
    width: 69%;
    position: relative;
 }
 .col2 input {
    line-height: 32px;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 0 5px;
 }
 .form-box .btn1 {
    background-color: #ff0000c4;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 17px 5px 17px;
    border-radius: 5px;
    margin-top: 7px;
    border: none;
 }
 .col3 {
     position: relative;
 }
 .form-box .btn2 {
    background-color: #58c5d8;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 11px 4px 11px;
    position: absolute;
    top: -18.2px;
    left: 6px;
 }
