<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin-add-booking</title>
        <link rel="stylesheet" href="/css/admin/add_booking.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="sidebar">
            <div class="logo-details">
                <img class="logo" src="/img/admin/hall-icon.png" alt="">
                <img class="logo_name" src="/img/admin/Seminar-name.png" alt="">
            </div>
            <ul class="nav_list" id="nav_list">
                <li>
                    <a href="/dashboard">
                        <i class="fas fa-th-large"></i>
                        <span class="links_name">Dashboard</span>
                    </a>
                </li>                 
                <li>
                    <a href="/manage_venue">
                        <i class="far fa-calendar-plus manage"></i>
                        <span class="links_name">Manage Venue</span>
                    </a>
                </li>          
                <li>
                    <a href="/add">
                        <i class="far fa-edit add"></i>
                        <span class="links_name">Add Booking</span>
                    </a>
                </li> 
                <li>
                    <a href="/venueData">
                        <i class="fas fa-table"></i>
                        <span class="links_name">Venue Data</span>
                    </a>
                </li>
                <li>
                    <a href="/view_booking">
                        <i class="far fa-list-alt view"></i>
                        <span class="links_name">View Booking</span>
                    </a>
                </li>          
                <li>
                    <a href="/user_details">
                        <i class="fas fa-user user"></i>
                        <span class="links_name">User Details</span>
                    </a>
                </li>         
                <li>
                    <a href="/contactDetails">
                        <i class="fas fa-address-book contact"></i>
                        <span class="links_name">Contact Details</span>
                    </a>
                </li>         
                <li>
                    <a href="/login">
                        <i class="fas fa-sign-out-alt logout"></i>
                        <span class="links_name">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- home-section -->
        <section class="home-section">
            <nav>
                <div class="sidebar-button">
                    <label class="sidebarBtnIcon">
                        <div class="spinner top"></div>
                        <div class="spinner middle"></div>
                        <div class="spinner bottom"></div>
                    </label>
                    <span class="dashboard">Dashboard</span>
                </div>
            </nav>
            <h1>Add Booking</h1>
            <form action="/saved" method="post">
                <div class="form-box">
                    <!-- <div class="row1">
                        <div class="col1">
                            <label for="">Booking ID</label>
                        </div>
                        <div class="col2">
                            <input type="text" name="id">
                        </div>
                    </div> -->
                    <div class="row1">
                        <div class="col1">
                            <label for="">Full Name</label>
                        </div>
                        <div class="col2">
                            <input type="text" name="fullName" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <label for="">Email</label>
                        </div>
                        <div class="col2">
                            <input type="email" name="email" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <label for="">Phone No.</label>
                        </div>
                        <div class="col2">
                            <input type="text" name="phone" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <label for="venue1">Venue Type</label>
                        </div>
                        <div class="col2">
                            <input list="venue" name="venue" id="venue1" value="Seminar Hall" autocomplete="off" required>
                            <datalist id="venue">
                                <option value="Seminar Hall">Seminar Hall</option>
                            </datalist>
                            <!-- <select name="venue" autocomplete="off" required>
                                <option value="Seminar Hall">Seminar Hall</option>
                              </select> -->
                            <!-- <input type="text" name="venue" value="Seminar Hall" autocomplete="off" required> -->
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <label for="">Event Date</label>
                        </div>
                        <div class="col2">
                            <input type="date" name="eventDate" required>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <label for="">Event Time</label>
                        </div>
                        <div class="col2">
                            <input type="time" name="eventTime" required>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <label for="">No. of Guests</label>
                        </div>
                        <div class="col2">
                            <input type="text" name="guests" autocomplete="off" required>
                        </div>
                    </div>
                    <!-- <a type="submit" class="btn1">submit</a> -->
                    <button type="submit" class="btn1">submit</button>
                </div>
            </form>      
        </section>
        <script>
            let sidebar = document.querySelector(".sidebar");
            let sidebarBtn = document.querySelector(".sidebarBtnIcon");
            sidebarBtn.onclick = function() {
                sidebar.classList.toggle("active-nav");
            }
        </script>
    </body>
</html>
