<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seminar-login</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="main">
            <nav class="navbar">
                <img src="img/Seminar1.png" class="logo-image" alt="image" />
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
                <ul class="nav-list menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/city">Venues</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/about_Us">About us</a></li>
                    <li><a href="/contact_Us">Contact us</a></li>
                    <% if (login) { %>
                        <li><a href="/logout" id="logout">Logout</a></li>
                    <% } %>
                </ul>
            </nav> 
            <div style="background-color: rgb(255, 255, 255); width: 100%; height: 58px;"></div>
            <section class="login-section">
                <img src="img/corner.png" alt="design" style="height: 130px; left: 17%; top: 7%; position: relative;">
                <form action="/login" method="POST">
                    <div class="login-box">
                        <div class="login-form">
                            <h1>Sign in to Account</h1>
                            <div class="social-image-box">
                                <img src="img/facebook1.png" alt="facebook1">
                                <img src="img/search.png" alt="search">
                            </div>
                            <p>or use your email account</p>
                            <div class="input-field" id="emailField">
                                <img src="img/black-back-closed-envelope-shape.png" alt="black-back-closed-envelope-shape">
                                <!-- <input type="email" placeholder="Email" id="username" name="email" required> -->
                                <input type="email" placeholder="Email" class="field" id="email1" name="email" oninvalid="InvalidEmail(this);" oninput="InvalidEmail(this);" required autocomplete="off" />
                            </div>
                           
                            <!-- <h4 style="color: red; margin-bottom: -24px; padding:11px;"></h4> -->
                       
                            <div class="input-field" id="passwordField">
                                <img src="img/lock.png" alt="lock">
                                <!-- <input type="password" placeholder="Password" id="password" name="passw" required> -->
                                <input type="password" placeholder="Password" class="field" id="password1" name="passw" oninvalid="InvalidPass(this);" oninput="InvalidPass(this);" required autocomplete="off" />
                            </div>
                            <div class="check-forget">
                                <input type="checkbox" required>
                                &nbsp; Remember me
                                <a href="#">Forgot Password?</a>
                            </div>
                            <button type="submit" class="btn1">SIGN IN</button>
                        </div>
                        <div class="jump-signup-form">
                            <h1>Hello, Friend!</h1>
                            <p>Fill up personal information and start booking</p>
                            <button class="btn2" type="button">SIGN UP</button>
                        </div>
                    </div>
                </form>
                <img src="img/corner2-rotate.png" alt="design" style="height: 130px; position: relative; float: right; top: 51.5%; right: 17%;">
            </section>
            <footer>
                <div class="footer-box">
                    <div class="footer-row-box">
                        <div class="footer-col-box1">
                            <img class="seminar-logo" src="img/Seminar2.png" alt="image" />
                            <p>Seminar hall is a online booking system,it book a seminar hall and auditorium,it provide a best venue in your city.</p>
                            <div class="social-icon">
                                <a href="#"><img src="img/twitter.png" alt="image" /></a>
                                <a href="#"><img src="img/facebook.png" alt="image" /></a>
                                <a href="#"><img src="img/linkedin.png" alt="image" /></a>
                                <a href="#"><img src="img/insta.png" alt="image" /></a>
                            </div>
                        </div>
                        <div class="footer-col-box2">
                            <h4>EXPLORE</h4>
                            <div class="footer-list-box1">
                                <ul>
                                    <li><a href="Venues/mumbai-venue.html">Mumbai</a></li>
                                    <li><a href="Venues/delhi-venue.html">Delhi</a></li>
                                    <li><a href="Venues/goa-venue.html">Goa</a></li>
                                    <li><a href="Venues/kolkata-venue.html">Kolkata</a></li>
                                    <li><a href="Venues/banglore-venue.html">Banglore</a></li>
                                    <li><a href="Venues/chennai-venue.html">Chennai</a></li>
                                    <li><a href="Venues/hyderabad-venue.html">Hyderabad</a></li>
                                    <li><a href="city.html">All Cities</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-col-box3">
                            <h4>QUICK LINKS</h4>
                            <div class="footer-list-box2">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="city.html">Venues</a></li>
                                    <li><a href="about-us.html">About us</a></li>
                                    <li><a href="contact-us.html">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-end">
                    <p>copyright &copy; 2021. All rights Reserve</p>
                </div>
            </footer>
        </div>
        <script src="JS/login.js"></script>
    </body>
</html>
